{{> header }}
<div class="d-flex flex-column justify-content-around container-sm my-5 p-4 shadow rounded-3">
  <h2 class="my-3 border-bottom ">Tabla de Productos Listados</h2>
  {{#if dataToSend.products}}
    <p>
      {{dataToSend.products}} {{!-- solucion temporal por problemas para usar handlebars each --}}
    </p>
  {{!-- <table class="table table-striped my-4">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Thumbnail</th>
      </tr>
    </thead>
    <tbody>
    {{#each dataToSend.products}}
      <tr>
        <th scope="row">{{this.prodId}}</th>
        <td>{{this.name}}</td>
        <td>$ {{this.price}}</td>
        <td><img src={{this.photo}} width="56"></td>
      </tr>
    {{/each}}
    </tbody>
  </table> --}}
  {{else}}
  <h5 class="alert alert-dark">Ups :( no se encontraron productos!</h5>
  {{/if}}
</div>

    
    
    
